/*stylesheet*/

body {
	margin: 0px;
	background: white;
	color: black;
	font-family: 'Crimson Text', serif;
	font-weight: 0,400;
}

h1 {
	font-weight: 0,600;
	margin-top: 0;
	margin-bottom: 1em;
}

h2 {
	font-weight: 0,600;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 1em;
}

p {
	text-align: left;
	margin-top: 0;
	margin-bottom: 1em;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
}

#main {
	background: black;
	margin: 2em;
	padding: 2em;
}

#sidebar {
	background: pink;
}

#content {
	background: pink;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

}
	