/*stylesheet*/


body {
	margin: 0px;
	background: #ECF0F1;
	color: #212F3D;
	font-family: 'Crimson Text', serif;
	font-weight: 0,400;
}

h1 {
	font-weight: 0,600;
	margin-top: 0;
	margin-bottom: 1em;
}

h2 {
	font-weight: 0,600;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 1em;
}

p {
	text-align: left;
	margin-top: 0;
	margin-bottom: 1em;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  margin: 0 auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#wrapper {
	margin: 2em auto;
	max-width: 1200px;
}

#main {
	background: #212F3D;
	margin: 2em;
	padding: 2em;
}

#sidebar {
	background: #ECF0F1;
}

#sidebar a {
	margin-left: 66px;
}


#content {
	background: #ECF0F1;
}

#content h1 {
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 14px;
}

#content h2 {
	margin-left: 14px;
	font-style: italic;
	font-weight: 400;
	font-size: 15pt;
	margin-right: 14px;
}

#content p {
	margin-left: 14px; 
}

#logo {
	margin: 0;
	padding: 2em auto;
}

#logo h1 {
	padding: 3em 0;
}

#logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;

}




@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

}



